body {
    background-color: #1d2026;
    color: white;
    position: relative;
}



@media (min-width: 1024px) {
    body::before {
        background-attachment: fixed;
    }
}

.nav-container a {
    text-align: center;
    text-decoration: none;
    color: white;
}

ul, li {
    list-style: none;
}

.navbar {
    background-color: #1d2030 !important;
    color: #e1e1e1;
    padding: 15px 0;
}

.logo h1 {
    font-family: "Anton", sans-serif;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    color: #fff;
}

.logo h1 img {
    height: 32px;
}

@media (max-width: 992px) {

    .logo h1,
    .logo h1 img {
        font-size: 28px;
    }

    .logo h1 img {
        height: 28px;
    }
}

@media (max-width: 768px) {

    .logo h1,
    .logo h1 img {
        font-size: 24px;
    }

    .logo h1 img {
        height: 24px;
    }
}


.container-fluid {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.container-fluid-tail ul {
    list-style: none;
    padding: 0;
}

.container-fluid-tail ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.container-fluid-tail ul i {
    font-size: 12px;
    margin-right: 10px;
    color: #18d26e;
    line-height: 0;
}

.container-fluid-tail ul li span {
    margin-left: 5px;
}

.collapse {
    display: flex;
    justify-content: flex-end;

}

.nav-link {
    color: #e1e1e1;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition: color 0.8s ease;
    margin-right: 20px;
}

.menu_button {
    color: #ffff;
    font-size: 24px;
}

.menu_button:hover {
    color: #5fb6d9;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 10px;
    bottom: 0px;
    width: 0;
    height: 2px;
    background-color: #5fb6d9;
    transition: width 0.3s ease;
}

.nav-link:hover {
    color: #5fb6d9;
    font-weight: bold;
}

.nav-link:hover::after {
    width: 25px;
}

section.section-show {
    top: 100px;
    bottom: auto;
    opacity: 1;
    padding-bottom: 45px;
}

.contact {
    margin-bottom: 30px;
}

.container {
    position: relative;
    padding: 30px;
    margin-bottom: 50px;
    background-color: #1d2030;
}

.nav-container {
    padding: 0 30px !important;
}

.row {
    width: 100%;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.row-bg {
    background-color:  #1d2030;
}

.row-pm {
    padding: 0px;
    border: solid 1px  #1d2030;
    overflow: hidden;
}

.row-pm-10 {
    padding: 0px;
    padding: 10px;
    transition: transform 0.3s ease;
}

.scale_up_11 {
    transition: transform 0.3s ease;
}

.scale_up_11:hover {
    transform: scale(1.05);
    border: solid #5fb6d9 1px;
}

.section-title h2 {
    font-size: 14px;
    line-height: 1px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: #04588C;
}

.section-title h2::after {
    content: "";
    width: 150px;
    height: 2px;
    display: inline-block;
    background: #04588C;
    margin: 4px 10px;
}

.section-title p {
    margin: 0;
    margin: -15px 0 15px 0;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    font-family: "Black Han Sans", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.resume {
    color: #444444;
    padding: 20px;
    width: 100%;
    background: rgba(255, 255, 255, 0.08);
}

.resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    position: relative;
}

.resumeTitle {
    font-size: 26px;
    font-weight: 700;
    margin: 20px 0 20px 0;
    color: rgb(255, 255, 255);
}

.resumeItem h4 {
    font-size: 18px;
    font-weight: 600;
    color: #04588C;
    margin-bottom: 10px;
}

.resumeItem h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 15px;
    background: rgba(255, 255, 255, 0.15);
    padding: 5px 10px;
    width: 230px;
    height: 30px;
}


.resumeItem ul {
    padding-left: 20px;
}

.resumeItem ul li {
    padding-bottom: 10px;
}

.resumeItem:last-child {
    padding-bottom: 0;
}

.resumeItem::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #04588C;
    border: 2px solid #04588C;
}

.resumeItem {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    position: relative;
}

.portfolio-link{
    color: #5fb6d9;
}

.offcanvas-header{
    background-color: #1d2026;
}

.offcanvas-body{
    background-color: #1d2030;
}
